{{!-- handelbars (hbs) is a view engine of express --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    {{!-- bootbox cdn --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>    
    
    {{!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
    <title>My Tasks</title>
</head>
<body>
    {{!-- 
    use subnavbar.hbs file here
    --}}
    {{>subnavbar}}

    {{!-- IMPORTANT NOTE: name field is very important to post data into mongodb --}}
    
<div class="container-fluid mt-5 contact-style">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">STUDENTS</h1>
                <h1 class="text-center sub-heading">Managing Students has become easier than ever before!</h1>
               
                <div class="row">
                    <div class="col-md-8 col-12 mx-auto">
                    
                    <form action="/enrollStudent" method="GET">
                    <table class="table">
                        <thead>
                            <tr>
                            
                              <th style="font-size: 1.5rem; font-weight:900">Select ID</th>
                              <th style="font-size: 1.5rem; font-weight:600;">Enrollment No.</th>
                              <th style="font-size: 1.5rem; font-weight:600;">Student Name</th>
                              <th style="font-size: 1.5rem; font-weight:600;">Student email</th>
                            <th style="font-size: 1.5rem; font-weight:600;">Student Program</th>

                            </tr>
                          </thead>
                        

                    {{#each student}}
                    <tr>  
                      <td> <input type="checkbox" name="{{this._id}}"></td>
                      <td><p>{{this.enroll_no}}</p></td>
                      <td><p>{{this.st_name}}</p></td>
                      <td><p>{{this.useremail}}</p></td>
                      <td><p>{{this.program}}</p></td>
                      </tr>                    
                    {{/each}}                          
</table>

<div  align = "center"><input type="submit" class="btn btn-primary" value="enroll now">
                </div>
              
                </form> 
                     </div>
            
                
            </div>
        </div>
    </div>
</div>
                
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
$('#myForm').on('submit', function(e){
  $('#myModal').modal('show');
  e.preventDefault();
});
</script>
    
 </body>
 </html>

        {{!-- including jquery and bootstrap js here in this index.hbs file! --}}
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    
    
</body>
</html>