{{!-- handelbars (hbs) is a view engine of express --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    {{!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
    <title>My Tasks</title>
</head>
<body>
    {{!-- <button class="btn btn-success">Fanstastic</button> 
    use navbar.hbs file here in index file
    --}}
    {{>navbar}}
    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task App</title>
  </head>
  <body>
    {{!-- IMPORTANT NOTE: name field is very important to post data into mongodb --}}
    
<div class="container-fluid mt-5 contact-style">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Task Manager</h1>
                <h1 class="text-center sub-heading mt-3 mb-3">Managing tasks has become easier than ever before!</h1>
               
                <div class="row">
                    <div class="col-md-10 col-12 mx-auto">

                <form action="/task" method="POST">
                <table class="table">
                <thead>
                  <tr class="table-active">
                    <th class="task-td">Add Task</th>
                    <th class="task-td">Description</th>
                    <th class="task-td">Date</th>
                    <th class="task-td"></th>
                  </tr>
                </thead>
            
            
                <tbody>
                    <tr>
                      <td> <input class="pt-2 pb-1 ps-3" type="text" name="name"placeholder="task name" required></input></th>
                      <td >  <select class="pt-2 pb-2 ps-2 pe-2 task1" name="description" required>

                        <option>Personal</option>
                        <option>Work</option>
                        <option>School</option>
                        <option>Cleaning</option>
                        <option>Other</option>

                    </select></th>
                      <td > <input class="pt-1 pb-1 ps-3 pe-3 task1" type="date" name="date" required></th>
                      <td ><input type="submit"  class="btn btn-success pt-1 pb-1 ps-3 pe-3 task1"id="add" value="ADD TASK"></th>
                    </tr>
                </tbody>
            
            </table>
                        {{!-- <div class="form-group">
                            <label for="exampleInputName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="exampleInputName" 
                            placeholder="Enter Task Name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label">Task Description</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" 
                            placeholder="Enter task description" name="description">
                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputMessage">Message</label>
                            <input type="text" class="form-control" id="exampleInputName"
                            placeholder="Of format dd-mm-yyyy" name="dueDate">
                        </div>
                        <button type="submit" class="btn-style btn-primary">Submit</button> --}}
                        </form>
                    <h1 style="color: #fd5c63;" class=" mt-5 mb-3">Tasks List</h2>
                    <form action="/delete-task" method="GET">
                    <table class="table">
                        <thead>
                            <tr>
                            
                              <th style="font-size: 2rem; font-weight:900">Select</th>
                              <th style="font-size: 2rem; font-weight:600;">Task</th>
                              <th style="font-size: 2rem; font-weight:600;">Description</th>
                            <th style="font-size: 2rem; font-weight:600;">Due date</th>
                            </tr>
                          </thead>
                        {{!-- <ul class="people_list">
                        {{#each task}} 
                            <li> {{#each this}} </li>  
                            {{this}}  
                            {{/each}}
                        {{/each}}
</ul> --}}

                    {{#each task}}
                    <tr>  
                      <td> <input class="mt-3" type="checkbox" name="{{this._id}}"></td>
                      <td><p class="mt-2" id="task-name">{{this.name}}</p></td>
                      <td><p class="mt-2" id="task-description">{{this.description}}</p></td>
                      <td><p class="mt-2" id="due-date">{{this.date}}</p></td>
                    </tr>                    
                    {{/each}}
                    {{!--               <td> <input type="checkbox" name="<%= i._id %>" ></td>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.date}}</td> --}}
                       {{!-- {{task.name}} has the following skills : <br>
        {{#each task.skills}}
            {{this}} <br>
        {{/each}} --}}

                        {{!-- <% for(let i of task) { %>
                            

<tr>

                               <td> <input type="checkbox" name="<%= i._id %>" ></td>
                               <td> <p id="task-name"><%= i.name %></td>
                                <td><p id="task-description"></p>: <%= i.description %></td>
                                <td><p id="due-date">: <%= i.date %></p></td>
</tr>
                    

                        <% } %> --}}
                            
                

                           
</table>
<div  align = "center"><input type="submit" class="btn btn-danger pt-1 pb-1 ps-3 pe-3 task1" value="DELETE TASK">
                </div>></form> 
                     </div>
            
                
            </div>
        </div>
    </div>
</div>


    {{!-- <form action="/task" method="POST">
      <input type="text" placeholder="Task Name" name="name" />
      <br />
      <input type="text" placeholder="Task description" name="description" />
      <br />
      <input type="text" placeholder="due date" name="dueDate" />

      <button type="submit">Submit</button>
    </form> --}}
  </body>
</html>




        {{!-- including jquery and bootstrap js here in this index.hbs file! --}}
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>